/* Général */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}
.header__logo a{
    color: rgb(0, 0, 0);
    margin-left: 40px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    text-decoration: none;
    list-style: none;
}
.header__logo:hover {
    color: #EEA302;
}
.header__nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 120px;
}
.header__nav ul li {
    margin: 0 10%;
}
.header__nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 22px;
}
.header__nav-link--border-left {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 39.05px;
    text-align: left;
    border-left: 1px solid;
    padding-left: 10px;
}
.header__nav-link--border-left:hover {
    color: #E13B25;
}

/* Main */
.main {
    display: flex;
    justify-content: space-evenly;
}
.main__section {
    display: flex;
    justify-content: space-between;
}
.main__image-container {
    width: 484px;
    height: 484px;
    
}
.main__image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.main__info {
    width: 484px;
    height: 452px;
    margin-top: 20px;
}
.main__greeting {
    font-family: "Inter", sans-serif;
    font-size: 68px;
    margin-bottom: 20px;
}
.main__content {
    width: 484px;
    padding-top: 20px;
}
.main__about-title {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35.5px;
    margin-top: 20px;
}
.main__about-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35.5px;
}
.main__buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.main__button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.main__button {
    background-color: #EEA302;
    border-radius: 50%;
    border: 1px solid #593E03;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin: 0;
    width: 130px;
    height: 130px;
    text-decoration: none;
    color: black;
}
.main__button:hover {
    background-color: white;
}
.main__button-text {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 31.95px;
    text-align: left;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 20px;
}
.footer__empty-space {
    flex: 1;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    flex: 2;
}
.footer__contact-section {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}
.footer__contact-title {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
}
.footer__contact-info {
    text-decoration: none;
    color: black;
}
.footer__social-section {
    font-family: "Inter", sans-serif;
}
.footer__social-title {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
}
.footer__social-icons {
    display: flex;
    gap: 10px;
}
.footer__social-icon {
    width: 21.69px;
    height: 25px;
}
.footer__credit {
    font-family: "Inter", sans-serif;
}
.footer__credit-text {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main__section {
        flex-direction: column;
    }
    .main__buttons {
        flex-direction: column;
        align-items: center;
    }
    .main__greeting {
        font-size: 52px;
        text-align: center;
    }
    .main__image-container {
        width: 354px;
        height: 354px;
        margin-left: 30px;
    }
}
@media (max-width: 480px) {
    .main__section {
        flex-direction: column;
    }
    .main__buttons {
        margin-left: 0;
        width: auto;
    }
    .main__image-container {
        width: 354px;
        height: 354px;
        margin-left: 30px;
    }
    .main__greeting {
        margin-left: 0;
    }
}
